.title {
  h1 {
    margin-bottom: 0.5rem;
    margin-left: 10px;
  }
}

.separator {
  border: none;
  border-bottom: 1px solid black;
  width: 150px;
  margin-top: 0.5rem;
  margin-left: 0;
}

.page {
  padding: 2rem;
}

.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-bottom: 2rem;

  th,
  td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: left;
  }

  th {
    background-color: #f4f4f4;
  }

  thead th {
    border: 1px solid #ccc;
    position: sticky;
    top: 0;
    z-index: 2;
  }
}

.tablesContainer {
  padding: 0 10px;
}

.status {
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-weight: bold;
  font-size: 0.9rem;
}

.goedgekeurd {
  background-color: #e6ffe9;
  color: #008000;
}

.afgekeurd {
  background-color: #ffe6e6;
  color: #ff0000;
}

.onderbehandeling {
  background-color: #fff4e6;
  color: #d97706;
}

.button {
  background-color: #0070f3;
  color: white;
  padding: 0.3rem 0.6rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #005ac1;
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  width: 550px;
  max-width: 90%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.createModal {
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.modalContent {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  align-items: flex-start;
  flex-wrap: wrap;
}

.notifModalContent {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}

.notifModalContent ul {
  flex-grow: 1;
}

.modalActions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

.details {
  flex: 1;
}

.imageContainer {
  flex: 1;
  align-items: end;
}

.productImage {
  height: 250px;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

.buttonContainer {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.normalColumn {
  width: 100px;
}

.buttonColumn {
  width: 200px;
}

.searchbar {
  display: flex;
  padding-left: 10px;
  align-items: center;
  margin-bottom: 1rem;
}

.searchbar input {
  padding: 0.4rem;
  font-size: 1rem;
  width: 220px;
}

.filtersContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 0.5rem;
  padding: 0 0.6rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.filters {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.filters input,
.filters select {
  padding: 0.4rem;
  font-size: 1rem;
}

.createOrderButtonContainer {
  display: flex;
}

.error{
  color: red;
}